* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #f4f4f4;
}
header {
    text-align: center;
    margin-bottom: 40px;
    background-color: #28454D;
    padding: 1em 0    
}
header h1 {
    color: white;
    font-size: 2.5em;
}
#profile{
    border-radius: 50%;
    width: 20%;
    height: 20% auto;
    margin: 20px auto;    
    box-shadow: #28454D;
}
#imagen{
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: #28454D;
}
section {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: #28454D;
}
h2 {
    color: #28454D;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;    
}
p{
    text-align: center;
}
.skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
.skills li {
    background: #28454D;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9em;
}
.list{
    width: 97%;
    text-align: center;
    align-items: center;
    margin: 20px auto;    
}
table{
    display: block;       
    margin: 20px auto;
    overflow-x: auto;
    border: 1px solid #28454D;
    padding: 10px auto ;
    max-width: 800px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    margin-bottom: 5px;
    color: #555;
    display: block;
    font-weight: bolder;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    text-align: center;
}
textarea {
    height: 150px;
    resize: vertical;
    text-align: left;
}
button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bolder;
}
#button{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
    margin-bottom: 10px;
    font-size: 1em;
    margin: 20px auto;
    display: block;
}
.button{
    width: 20%;
    text-align: center;
    margin: 20px auto;    
}
footer {
    color: white;
    background-color: #333;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
footer p {
    margin-bottom: 10px;    
}
footer p a{
    color: white;    
}
#button:hover, button:hover{
    border: 3px solid #333;
    /* box-shadow: 10px solid #28454D; */
}
input[type=text]:hover, input[type=email]:hover, textarea:hover, #imagen:hover{
    border: 1px solid #333;
    box-shadow: 10px solid #28454D;
}
.skills ul li:hover{
    border: 1px solid #28454D;
}